*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
table, th, td {
    border: 1px solid #fff;
  }
.table{
    border-spacing: 30px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 35%;
}
th, td{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    color: #fff;
    text-align: center;
}


nav.fa{
    display: none;
}

h1{
    margin: 0;
    color: white;
    font-size: 36px;
}

.booking form{
    max-width: 400px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2{
    margin: 0 0 20px;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
}
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    flex: 1;
    text-align: center;
    margin-right: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"] {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 75%;
}

input[type="submit"]{
    background-color: #3399FF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #0070a3;
}


